.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.react-chatbot-kit-chat-container {
  position: relative;
  width: 100% !important;
  height: 650px !important;
}

.react-chatbot-kit-chat-message-container {
  position: relative;
  width: 100% !important;
  height: 475px !important;
}

.react-chatbot-kit-chat-header {
  width: auto !important;
  font-size: 25px !important;
  padding: 2.5%;
  margin-top: 0.5%
}

.react-chatbot-kit-chat-bot-message {
  width: auto !important;
  font-size: 18px !important;
  justify-content: flex-end; 
  color: #585858 !important
}

.react-chatbot-kit-user-chat-message {
  width: auto !important;
  font-size: 18px !important;
}

.react-chatbot-kit-chat-input {
  
  font-size: 15px !important;
}

.react-chatbot-kit-message-container {
  height: 600px !important;
}
.react-chatbot-kit-chat-bot-avatar-container {
  background-color: #800080; 
  color: white
}

.react-chatbot-kit-chat-bot-avatar-letter {
   
  color: white
}
.react-chatbot-kit-user-avatar-container {
  background-color: #4c34a9; 
}
h1{
  text-align: left; 
  background-color: white;
  color: black;
  padding-left: 1%;
  margin-left: 1%
}

.container {
  display: flex;
}